/*
import base css style
body, messages, p etc.
*/
@import url("stlBase.css");
/*titlebar*/
.titlebar {
    padding: 4px;
    background: #d2d7d5; /* fallback for old browsers */
    /*background: linear-gradient(to top , #d2d7d5, whitesmoke);*/
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 8px;

    text-align: left;
    width: calc(100% - 8px);
    min-width: 800px;
    height: 48px;
    box-shadow: 2px 2px 1px gray;
    text-shadow: 1px 1px 1px #FFFFFF;

    font-family: Arial;
    color: dimgrey;
}
.subdiv {

    padding: 8px;
    margin-left: auto;
    margin-right: auto;
    margin: 8px;
    background: silver;
    box-shadow: 2px 2px 1px gray;

}

/*sidebar div*/
.sidebar {
    padding: 4px;
    background: #d2d7d5; /* fallback for old browsers */
    /*background: linear-gradient(to top ,  #d2d7d5, whitesmoke);*/
    float: left;
    /*margin-left: auto;
    margin-right: auto;*/
    margin-bottom: 8px;

    text-align: center;
    width: 128px;
    min-height: 640px;

    box-shadow: 2px 2px 1px gray;

    font-family: Arial;
    color: dimgrey;
}


/*body div*/
.body {
    padding: 4px;
    background: #d2d7d5; /* fallback for old browsers */
    /*background: linear-gradient(to top ,  #d2d7d5, whitesmoke);*/
    float: right;
    /*margin-left: auto;
    margin-right: auto;*/
    margin-bottom: 8px;

    text-align: left;
    width: calc(100% - 152px);
    min-width: 640px;
    height: 640px;
    box-shadow: 2px 2px 1px gray;
    /*text-shadow: 1px 1px 1px #000000;*/

    font-family: Arial;
    color: dimgrey;
}
.icon {
    /*text-align: center;*/
    font-weight: bold;
    font-size: 10px;
}
.logoutIco {
    float : right;
    text-align: center;
    font-weight: bold;
    font-size: 10px;
}
.btext {
    font-weight: normal;
}
.stext {
    font-size: 12px; font-weight: bold; color: white; text-shadow: 1px 1px 1px #000000;
}
a {  color: dimgray;  text-decoration: none; }
a:hover {  color: white; text-decoration: none; text-shadow: 1px 1px 1px #000000; }